<%= turbo_stream.update("like_#{dom_id @like.likeable}") do %>
  <div class="like mr-4">
    <%= link_to like_path(@like.likeable), method: :delete, data: { turbo_method: :delete } do %>
      <i class="fa-solid fa-heart fa-2x"></i>
    <% end %>
  </div>
<% end %>

<%= turbo_stream.update("counter_like_#{dom_id @like.likeable}") do %>
  <span class="font-bold text-sm">
		<%= @like.likeable.likes.count %> like
	</span>
<% end %>